# IDE
**/.vscode
**/.github/prompts

# Dev modules
**/_vendor
**/node_modules
**/.serena

# Build staff
**/docs/moqt/public
**/dist/

# Coverage
coverage*
coverage_message
coverage_protocol
**/coverage/

# Profiles
**.prof

# Local Environment
**.pem