# Files to ignore when publishing to npm
src/
scripts/
coverage/
temp/
etc/
.vscode/
.gitignore
eslint.config.js
tsconfig*.json
tslint.json
vitest.config.ts
vitest.setup.ts
api-extractor.json
*.tgz
*.log